body{
	font-family: "Avenir Next";
}

.header{
	background-color: #00eeff;
	height: 90px;
}

.header-logo{
    font-size: 36px;
    float: left;
    padding: 20px 40px;
}

.header-list li{
    float: left;
    padding: 33px 20px;
}

li{
    list-style: none;
}

.main{
	background-color: #ffffff;
	height: 410px;
	font-size: 50px;
	padding: 35px 360px;
}

.copy-container span{
	color: red;
}

.footer{
	background-color: #022c85;
	color:white;
	height: 120px;
}

.footer-logo{
    font-size: 32px;
    float: left;
	padding-top: 15px;
	padding-left: 25px;
}

.footer-list{
    float: right;
}

.footer-list li{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 30px;
}

